fastapi
uvicorn
websockets
whisper
youtube_transcript_api
yt-dlp
ollama
pydantic
requests
transformers
torch
accelerate
datasets
peft
bitsandbytes
pandas
openpyxl
openai-whisper
librosa
soundfile
gradio
flask
flask-cors
